<div class="container">
<a href="/login">Login</a>
<br>
<a href="/register">Sign Up</a>
<br>
<br>

  <form action="/urls" method="post">
    <input type="text" name="url" placeholder="Enter url">
    <input type="submit" value="Submit">
  </form>


</div>

