<div class="container">

  <form action="/urls" method="post">
    <input type="text" name="url" placeholder="Enter url">
    <input type="submit" value="Submit">
  </form>
</div>


<a href="/login">Login</a>
<a href="/register">Sign Up</a>
